@model IEnumerable<LCore.Models.Localidad>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoTelefonico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEditado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iso2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTelefonico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEditado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iso2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
